:root {
   --font-family: 'Roboto';
   /* Microsoft Teams color codes  https://www.brandcolorcode.com/microsoft-teams*/
   --dark-blue: #3d45af;
   --blue: #5059c9;
   --light-blue: #7b83eb;
   --white: #ffffff;
}

body {
   margin: 0;
   background-color: var(--white);
   font-family: var(--font-family);
}

form.form {
   display: table;
}

div.form {
   display: table-row;
}

img {
   display: block;
   max-width: 50%;
   align-items: center;
}

ul li {
   list-style: none;
   display: inline;
   margin: 0px 10px;
}

/* Class styling */

.footer {
   background-color: var(--light-blue);
   text-align: center;
   padding: 5px 0px;
}

.nav {
   padding: 10px;
   background-color: var(--dark-blue);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav a {
   color: var(--white);
   text-decoration: none;
   transition: color 2s;
}

.nav a:hover {
   color: var(--light-blue);
}

.container {
   margin: 50px 20px;
}
