:root {
   /* Microsoft Teams color codes  https://www.brandcolorcode.com/microsoft-teams*/
   --dark-blue: #3d45af;
   --blue: #5059c9;
   --light-blue: #7b83eb;
   --white: #ffffff;
}

body {
   font-family: 'Roboto';
}

footer {
   background-color: var(--light-blue);
   text-align: center;
   border: 5px solid var(--dark-blue);
   padding: 5px 0px;
}

footer ul li {
   list-style: none;
   display: inline;
   margin: 0px 10px;
}
